@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat+Alternates&family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap");

* {
  background-color: #1d293a;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: start;
  margin-top: 16px;
  font-family: "Indie Flower", cursive;
}

.resume-btn {
  border: 2px solid #00cf5d;
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
  margin-left: 14px;
}
.resume-btn:hover {
  background-color: #00cf5d;
  color: white;
  transition: 0.5s ease-in-out;
}
