.about {
  margin-bottom: 100px;
}

.about-title {
  margin-top: 150px;
  font-weight: 900;
  font-size: 1.75rem;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.about-bar {
  width: 90px;
  height: 3px;
  background-color: #34c6d3;
  margin: 30px auto;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  text-align: start;
  margin-top: 50px;
}
.about-text {
  font-size: 15px;
  margin-left: 60px;
  margin-top: 40px;
}
.about-content p {
  text-align: justify;
  width: 60%;
  line-height: 2;
  margin-bottom: 1rem;
  color: #fff;
}

.about-img {
  width: 30%;
  margin-right: 90px;
  margin-bottom: 20px;
}

.skills-btn {
  border: 1px solid #00cf5d;
  margin-top: 30px;
  font-size: 18px;
  margin-left: 50px;
  color: white;
  border-radius: 3px;
  padding: 10px 45px;
}

.skills-btn:hover {
  background-color: #00cf5d;
  color: white;
  transition: 0.5s ease-in-out;
}
