.projects {
  margin-bottom: 100px;
}

.projects-title {
  margin-top: 150px;
  font-weight: 900;
  font-size: 1.75rem;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.projects-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 1px 5px 7px 8px rgba(0, 0, 0, 0.125);
  text-align: start;
  color: white;
  background-color: #26303d;
}

.project-title {
  color: #f0f0f0e3;
  font-size: 18px;
  font-weight: bolder;
}

.project-desc {
  color: rgba(182, 176, 176, 0.856);
  font-size: 15px;
  font-weight: bolder;
}

.project-footer {
  color: rgba(248, 234, 234, 0.863);
  font-size: 12px;
  font-weight: 600;
}
